---
title: FintArt
description: The app to invest in blue-chip art.
image: https://source.unsplash.com/wttc-zwCz4A/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero parallax" style="background-image: url({{ site.baseurl }}/images/un_bg_dk.jpeg)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
		    <img src="/images/logo/fintartlogo.png" align="left" style="height: 80px;" title="">
			<h1 style="font-family: 'Libre Baskerville', serif;padding-left: 100px;">FintArt</h1>
<h2 class="editable" style="padding-top: 30px;font-family: 'Libre Baskerville';">Democratising Art Investment</h2>			
<p></p>
			<p class="subtext editable" style="font-family: 'Open Sans';">FintArt allows <b>everyone</b> to invest in blue-chip art.</p>

			<p class="subtext editable" style="font-family: 'Open Sans';"><b>From as little as 1€</b>
			  you could diversify your portfolio on an asset that, on average, has outpaced the S&P500 returns during the last 20 years.</p>
			<div>
				<p></p>
				<form class="form-inline" action="https://formsubmit.co/37ed59cf0e394c157edce174b82618cd" method="POST">
			     <input type="email" name="email" placeholder="Request your invite"required>
			     <button type="submit">Submit</button>
				</form>			
			</div>


		</div>
	</div>
	<div class="learn-more bounce">
	  <a class="fa fa-arrow-down fa-2x" href="#"> Learn more &#x25BC</a>
	</div>
<!-- 	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div> -->

</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Why Art Investing</h2>
				<p class="editable">A high yielding market with low correlation to other investments</p>
				<p class="editable">Higher diversification, less risk for your money.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/graph-sp500.png" alt="Fine art vs SP500" />
			</div>
		</div>
	</section>
	<section>
		
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Pick your interests</h2>
				<p class="editable">The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="card-carousel">
		{% include card-carousel.html %}
	</section>

<!-- 	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
