---
title: FintArt
description: The app to invest in blue-chip art.
image: https://source.unsplash.com/wttc-zwCz4A/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero parallax" style="background-image: url({{ site.baseurl }}/images/un_bg_dk.jpeg)">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
		    <img src="/images/logo/fintartlogo.png" align="left" style="height: 80px;" title="">
			<h1 style="font-family: 'Libre Baskerville', serif;padding-left: 100px;">FintArt</h1>
<h2 id="subtitle" class="editable" style="padding-top: 30px;font-family: 'Libre Baskerville';">Democratising Art Investment</h2>			
<p></p>
			<!-- <p class="subtext editable" style="font-family: 'Open Sans';">FintArt allows <b>everyone</b> to invest in blue-chip art.</p>
 -->
			<p class="subtext editable subtitle-text" style="font-family: 'Open Sans';"><b>From as little as 1€</b>
			  you could diversify your portfolio on an asset that, on average, has outpaced the S&P500 returns during the last 20 years.</p>
			<div>
				<p></p>
				<form class="form-inline" action="https://formsubmit.co/37ed59cf0e394c157edce174b82618cd" method="POST">
			     <input type="email" name="email" placeholder="Request your invite"required>
			     <button type="submit">Submit</button>
				</form>			
			</div>


		</div>
	</div>
	<div class="learn-more bounce">
	  <a class="fa fa-arrow-down fa-2x" href="#learn-more"> Learn more &#x25BC</a>
	</div>
<!-- 	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div> -->

</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Why Art Investing</h2>
				<p class="editable">A high yielding market with low correlation to other investments</p>
				<p class="editable">Higher diversification, less risk for your money.</p>
			</div>
			<div class="image">
				<img class="editable" src="{{ site.baseurl }}/images/graph-sp500.png" alt="Fine art vs SP500" />
			</div>
		</div>
	</section>
	<section>
		
	</section>

<section class="info" style="
    background: darkturquoise;
	">
	<div class="container flex" style="
	    padding-top: 60px;
	    flex-direction: row-reverse;
	">
			<div class="text">
				<h2 class="editable" style="
				    padding-left: 40px;
				">Access an exceptional investment opportunity</h2>
								<p class="editable" style="
				    padding-right: 43px;
				    text-align: justify;
				    padding-left: 40px;
				">Access an exclusive market of high returns.
				Invest in the finest paintings and sculptures for a reasonable price. You decide in which one and how much..</p>
			</div>
			<div >
				<table style="width:100%">
					<tr>
						<th></th>
					</tr>
				  <tr>
				  	<td class="annual-numbers-title">				  		
				    Average Annual Returns Since 2000
				  	</td>
				  </tr>
				  <tr>
				  	<td class="annual-numbers-figure">				  		
					8.9%
				  	</td>
				  </tr>
  				  <tr>
				  	<td class="annual-numbers-title">				  		
				    Global Art Sales In 2018
  				  	</td>
				  </tr>
				  <tr>
				  	<td class="annual-numbers-figure">				  		
					59.6B€
				  	</td>
				  </tr>
				  <tr>
				  	<td class="annual-numbers-title">				  		
					Works sold for more than 1M€ in 2018
				  	</td>
				  </tr>
				  <tr>
				  	<td class="annual-numbers-figure">				  		
					61%
				  	</td>
				  </tr>
				</table>
			</div>
		</div>
	</section>

	<section>
		{% include thirds.html %}
	</section>

<section class="info" style="
    background: darkturquoise;
	">
			<div class="container flex" style="	    padding-top: 60px;
flex-wrap: wrap;">
			<div class="text">
				<h2 class="editable">Fees</h2>
				<p class="editable">Our fees are lower than all our competitors and allow you to get a higher return on your investment</p>
			</div>
			<div class="break"></div>
			<div class="price-list">
				<table class="table table-responsive" style="width:100%">
					<tr class="fee-title">
						<th>0€-1,000€</th>
						<th>10,000€-50,000€</th>
						<th>>50,000€</th>
					</tr>
				  <tr class="fee-figure">
				  	<td >
				    1.5% p/a
				  	</td>
				  	<td >
				    1.25% p/a
				  	</td>
					  	<td >
				    1.0% p/a
				  	</td>
				  </tr>
				</table>
			</div>
		</div>
	</section>

	<section class="card-carousel">
		{% include card-carousel.html %}
	</section>

<!-- 	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
