<div class="container-fluid">
    <h2 class="text-center my-3">Art pieces</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner row w-100 mx-auto">
        <div class="carousel-item col-md-4 active">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Jean Michel Basquiat</h4>
              <p class="card-text">16% average annual return</p>
              <img class="card-img" src="https://res2.weblium.site/res/5ee340089391d50022920b0d/5ee3552d51fd82002189a530_optimized">
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Bansky</h4>
              <p class="card-text">24% average annual return</p>
              <img class="card-img" src="https://res2.weblium.site/res/5ee340089391d50022920b0d/5ee3552ed55a6c002273f621_optimized">
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Yayoi Kusama</h4>
              <p class="card-text">32% average annual return</p>
              <img class="card-img" src="https://res2.weblium.site/res/5ee340089391d50022920b0d/5ee3938fce5dbb002111581f_optimized_1254">
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Kaws</h4>
              <p class="card-text">28% average annual return</p>
              <img class="card-img" src="https://res2.weblium.site/res/5ee340089391d50022920b0d/5ee39395d55a6c0022772166_optimized_1349_c1349x963-0x0">
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Andy Warhol</h4>
              <p class="card-text">12% average annual return</p>
              <img class="card-img" src="https://res2.weblium.site/res/5ee340089391d50022920b0d/5ee39471ce5dbb00211159c3_optimized_900_c900x895-0x0">
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Jeff Koons</h4>
              <p class="card-text">14% average annual return</p>
              <img class="card-img" src="https://res2.weblium.site/res/5ee340089391d50022920b0d/5ee3a843ce5dbb002111c7d3_optimized_1140_c1140x1140-0x0">
            </div>
          </div>
        </div>
        <div class="carousel-item col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Monet</h4>
              <p class="card-text">20% average annual return</p>
              <img class="card-img" src="https://blog.artsper.com/wp-content/uploads/2018/03/Claude_monet.png">
            </div>
          </div>
        </div>
      </div>
      <div class="container" id="carousel-controls" style="margin-bottom: 24px;">
        <div class="row">
          <div class="col-12 text-center mt-4">
            <a class="btn btn-outline-secondary mx-1 prev" href="javascript:void(0)" title="Previous">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                </svg>
            </a>
            <a class="btn btn-outline-secondary mx-1 next" href="javascript:void(0)" title="Next">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>