<div class="container flex info">
	<div class="row">
          <!-- Start proc-card -->
          <div id="proc-items" class="col-sm-6 col-md-3">
            <div class="card proc-card">
              <div class="proc-card-order">
              	<div class="proc-card-order-number">1</div>
              </div>
              <div class="proc-card-block">
                <h3 class="proc-card-title">We purchase the art work</h3>
                <p class="proc-card-text">
				We combine art expertise with detail art and auction data to select the most attractive art paintings or sculptures available in the market.</p>
              </div>
            </div>
          </div>
          <!-- End proc-card -->

          <!-- Start proc-card -->
          <div id="proc-items" class="col-sm-6 col-md-3">
            <div class="card proc-card">
              <div class="proc-card-order">
              	<div class="proc-card-order-number">2</div>
              </div> 
              <div class="proc-card-block text-center">
                <h3 class="proc-card-title">Anyone can invest</h3>
                <p class="proc-card-text">We offer the piece to our members who can buy as many shares of the piece as they want.</p>
              </div>
            </div>
          </div>
          <!-- End proc-card -->

          <!-- Start proc-card -->
          <div id="proc-items" class="col-sm-6 col-md-3">
            <div class="card proc-card">
              <div class="proc-card-order">
              	<div class="proc-card-order-number">3</div>
              </div>
              <div class="proc-card-block text-center">
                <h3 class="proc-card-title">We sell the artwork</h3>
                <p class="proc-card-text">We keep the piece for 3 to 7 years, depending on the piece. After that time we sell it through open auction or direct sell</p>
              </div>
            </div>
          </div>
          <!-- End proc-card -->

          <!-- Start proc-card -->
          <div id="proc-items" class="col-sm-6 col-md-3">
            <div class="card proc-card">
              <div class="proc-card-order">
              	<div class="proc-card-order-number">4</div>
              </div>
              <div class="proc-card-block text-right">
                <h3 class="proc-card-title">Return benefits to the investors</h3>
                <p class="proc-card-text">Each investor of the sold piece receives the benefits proportional to the number of shares bought</p>
              </div>
            </div>
          </div>
          <!-- End proc-card -->
	</div>	
</div>