.hero {
	color: #ffffff;
	text-align: center;
	height: 100vh;
	min-height: 550px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

	&:before {
		content: "";
		background: linear-gradient(to bottom,rgba(0,0,0,.65) 0,rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 150px;
}

	p {
		color: #fff;
	}

	.inner-hero {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.hero-text-container {
		width: 650px;
		text-align: left;

		h1, h2, p, .button {
			text-shadow: 2px 2px 7px rgba(0,0,0,.8);
		}
	}

	.hero-text-right {
		position: absolute;
		right: 0;
	}
}

.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}

.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@bg: #2d2d37; // Dark blue
@primary: #fd6b21; // Orange

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 4s infinite;
  -webkit-animation: bounce 4s infinite;
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.form-inline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 530px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: transparent ;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: dodgerblue;
}

@media (max-width: 766px) {
  #subtitle{
  font-size:2em;
  }

  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
    width:80%;
    margin:auto;
  }
  .form-inline input {
  width: 100%;
	}
}


/* Tablet and up */

@media screen and (min-width: 766px) {

  #subtitle{
  font-size:3em;
  }

  .carousel{
    margin: auto;
    max-width: 600px;
  }

  .carousel-inner .active,
  .carousel-inner .active+.carousel-item {
    display: block;
    margin-right: 0px;
  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: block;
    visibility: visible;
    margin-right: 0px;
  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/* Desktop and up */

@media screen and (min-width: 922px) {

  .carousel{
    width: 90%;
    max-width: 1024px;
    margin: auto;
  }

  .carousel-inner .active,
  .carousel-inner .active+.carousel-item,
  .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;    
    margin-right: 0px;


  }
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);



  }
  .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.33333%;
    z-index: -1;
    display: block;
    visibility: visible;

  }
  /* left or forward direction */
  .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.card-img{
	float: left;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.subtitle-text{
	text-align: justify;
}

#carousel-controls{
	margin-bottom: 24px;
	padding-bottom:24px;
}



@media (min-width: 768px){
.col-md-3 {

    position: relative;
    width: 100%;
    min-height: 1px;

	-webkit-box-sizing: inherit;
    box-sizing: inherit;

    display:block;

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}

.proc-card-text:last-child {
    margin-bottom: 0;
    text-align: center;
    margin: 15px;
}

.proc-card-title {
	margin-bottom: .75rem;
    text-align: center;
    margin-top: 60px;
    height: 70px;
    font-family: 'Libre Baskerville', serif;
}

.proc-card {
    height: 100%;
    border: none;
    padding-bottom: 60px;
  }

.proc-card-order{
	width: 100px;
    min-height: 100px;
    text-align: center;
    border-radius: 100px;
    background: black;
    color: white;
    align-self: center;
    font-size: -webkit-xxx-large;
    align-items: center;
    -webkit-box-align: center;
    overflow: hidden;
    z-index: 2;
}

.proc-card-order-number{
	height: 100%;
	display: flex;
    /* width: 100%; */
    height: 100%;
    /* -webkit-box-align: center; */
    /* -webkit-align-items: center; */
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.proc-card-block{
	border: black;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: black;
    height: 100%;
    margin-top: -46px;
    z-index: 1;
}

.annual-numbers-figure{
    font-size: xxx-large;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}			  


.annual-numbers-title{
	font-family: bold;
    text-align: center;
    font-size: x-large;
}			 

.info{
	margin-top: 60px;
} 

.break {
  flex-basis: 100%;
  height: 0;
}

.price-list{
	width: 100%;
}

.fee-title{
	font-family: 'Lato';
	font-family: bold;
    text-align: center;
    font-size: xx-large;
    border-bottom: 1px solid #dee2e6;
}

.fee-figure{
	font-family: 'Lato';
    font-size: xx-large;
    text-align: center;
}	

h2{
   font-family: 'Libre Baskerville', serif;
}


.card-title{
    font-family: 'Libre Baskerville', serif;
}

p{
	font-family: 'Lato';
}

.card-body{
	display: flex;
	flex-direction: column;
	text-align: center;
    margin: auto;
    max-width: 400px;
}

@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media (min-width: 914px){
.col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.333333%;
}
}

.card-img-d{
	margin-top: auto;

} 

.card-img{
/*    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto 0;*/
} 


.card{
    margin: auto;
    height: 100%;
    max-width: fit-content;
    min-height: 440px;
}
